<%
let animate = ''
if (path === '/'){
  animate = ' animate'
}
%>

  <header class="bg-primary navbar navbar-dark">
    <a class="navbar-brand text-left" href="#">
      <svg width="150" height="75" viewBox="0 0 150 75" class="svg<%= animate %>">
        <g id="Checked_logo_v2_flat">
          <path class="box" id="BOX1" d="M15 5.97222H39C40.3961 5.97222 41.5278 7.10395 41.5278 8.5V32.5C41.5278 33.8961 40.3961 35.0278 39 35.0278H15C13.6039 35.0278 12.4722 33.8961 12.4722 32.5V8.5C12.4722 7.10395 13.6039 5.97222 15 5.97222Z"/>
          <path class="box" id="BOX2" d="M58 5.97222H82C83.3961 5.97222 84.5278 7.10395 84.5278 8.5V32.5C84.5278 33.8961 83.3961 35.0278 82 35.0278H58C56.6039 35.0278 55.4722 33.8961 55.4722 32.5V8.5C55.4722 7.10395 56.6039 5.97222 58 5.97222Z"/>
          <path class="box" id="BOX3" d="M101 5.97222H125C126.396 5.97222 127.528 7.10395 127.528 8.5V32.5C127.528 33.8961 126.396 35.0278 125 35.0278H101C99.6039 35.0278 98.4722 33.8961 98.4722 32.5V8.5C98.4722 7.10395 99.6039 5.97222 101 5.97222Z"/>
          <path class="checkmark" id="check" d="M57.9854 15.0146L72.1464 29.2929L80 1"/>
          <g id="CHECKED">
            <path
              class="letter"
              id="D"
              d="M125.482 73.5036L125.479 47.9098L132.246 47.9086C135.235 47.908 137.614 48.8568 139.383 50.7549C141.165 52.653 142.073 55.2544 142.109 58.5591L142.109 62.7076C142.11 66.0708 141.219 68.7136 139.438 70.6358C137.669 72.5463 135.226 73.5018 132.108 73.5024L125.482 73.5036ZM130.647 52.2155L130.649 69.2136L132.196 69.2133C133.919 69.213 135.131 68.7616 135.834 67.8591C136.537 66.9449 136.906 65.3745 136.941 63.148L136.941 58.7007C136.941 56.3101 136.607 54.6461 135.938 53.7087C135.27 52.7596 134.134 52.2617 132.528 52.2152L130.647 52.2155Z"/>
            <path class="letter" id="E2" d="M119.597 62.4267L111.546 62.4282L111.547 69.2133L121.074 69.2116L121.074 73.5006L106.379 73.5033L106.376 47.9096L121.037 47.9069L121.037 52.2135L111.545 52.2153L111.545 58.2621L119.596 58.2607L119.597 62.4267Z"/>
            <path
              class="letter"
              id="K"
              d="M92.8077 63.6233L90.7689 66.1901L90.7697 73.5026L85.6017 73.5035L85.5991 47.9098L90.7671 47.9088L90.7682 59.0709L92.4027 56.3109L97.1655 47.9077L103.494 47.9065L96.1647 59.1578L103.619 73.5002L97.4845 73.5014L92.8077 63.6233Z"/>
            <path
              class="letter"
              id="C2"
              d="M81.4271 64.975C81.2985 67.893 80.4784 70.1021 78.9669 71.6024C77.4553 73.1027 75.3226 73.8531 72.5687 73.8536C69.6741 73.8541 67.4533 72.9053 65.9063 71.0071C64.3709 69.0973 63.6031 66.3787 63.6027 62.8513L63.6022 58.5447C63.6019 55.029 64.3985 52.3219 65.992 50.4231C67.5856 48.5127 69.8003 47.5572 72.6363 47.5567C75.4253 47.5562 77.5407 48.3351 78.9822 49.8934C80.4355 51.4518 81.2619 53.6899 81.4614 56.6078L76.2759 56.6088C76.2288 54.8041 75.9474 53.562 75.4317 52.8824C74.9278 52.1911 73.9961 51.8455 72.6367 51.8458C71.2539 51.846 70.2754 52.3325 69.7013 53.3053C69.1272 54.2663 68.8227 55.8543 68.7877 58.0691L68.7882 62.9031C68.7885 65.4461 69.0699 67.1921 69.6325 68.1412C70.2068 69.0903 71.1854 69.5648 72.5682 69.5645C73.9276 69.5643 74.8651 69.236 75.3806 68.5796C75.8962 67.9116 76.189 66.7104 76.2592 64.976L81.4271 64.975Z"/>
            <path class="letter" id="E" d="M58.4697 62.4267L50.4189 62.4282L50.4196 69.2133L59.947 69.2116L59.9474 73.5006L45.2521 73.5033L45.2495 47.9096L59.9096 47.9069L59.9101 52.2135L50.4179 52.2153L50.4185 58.2621L58.4693 58.2607L58.4697 62.4267Z"/>
            <path class="letter" id="H" d="M40.3578 73.5005L35.2074 73.5014L35.2063 62.5502L27.5774 62.5516L27.5785 73.5028L22.4106 73.5037L22.4079 47.91L27.5759 47.909L27.577 58.2625L35.2059 58.2612L35.2048 47.9076L40.3552 47.9067L40.3578 73.5005Z"/>
            <path
              class="letter"
              id="C"
              d="M18.5406 65.9758C18.4121 68.8938 17.5921 71.1029 16.0805 72.6031C14.569 74.1033 12.4363 74.8536 9.68241 74.8539C6.78788 74.8543 4.56705 73.9054 3.01991 72.0072C1.4845 70.0972 0.716546 67.3786 0.716064 63.8513L0.715475 59.5446C0.714995 56.029 1.5115 53.3219 3.10499 51.4232C4.69848 49.5128 6.91319 48.5574 9.74913 48.5571C12.5382 48.5567 14.6535 49.3357 16.0952 50.8941C17.5485 52.4525 18.375 54.6906 18.5746 57.6086L13.389 57.6093C13.3419 55.8046 13.0605 54.5625 12.5448 53.8828C12.0408 53.1915 11.1091 52.8459 9.74972 52.8461C8.3669 52.8463 7.38846 53.3328 6.81437 54.3055C6.24028 55.2665 5.93581 56.8544 5.90096 59.0693L5.90162 63.9033C5.90196 66.4463 6.18345 68.1923 6.74608 69.1414C7.32043 70.0906 8.29901 70.5651 9.68182 70.5649C11.0412 70.5647 11.9787 70.2364 12.4942 69.5801C13.0097 68.9121 13.3025 67.7109 13.3726 65.9765L18.5406 65.9758Z"/>
          </g>
        </g>
      </svg>
    </a>
  </header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% if (locals.user != null) { %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" data-path="/dashboard">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item" data-path="/projects">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
        </ul>
        <% } %>
        <% if (locals.user == null) { %>
        <form class="form-inline my-2 my-lg-0" action="/users/login" method="POST">
          <input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Email" name="email">
          <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password" name="password">
          <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">LogIn</button>
        </form>
        <a href="/users/register" class="ml-2 btn btn-outline-warning">Register</a>

      <% } else { %>

        <span class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon ion-md-contact text-light"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users/me">Profile</a>
            <a class="dropdown-item" href="/users/logout">LogOut</a>
          </div>
        </span>
      <% } %>
    </div>
  </nav>
