<section class="main">
  <div class="jumbotron">
    <h1 class="display-4">Structure; the easy and smart way</h1>
    <p class="lead">Complete freedome to create as many projects you like to combine work and life in one view</p>
    <div class="mt-4">
      <button class="btn btn-outline-secondary">Projects</button>
      <button class="btn btn-outline-secondary">Checklists</button>
      <button class="btn btn-outline-secondary">Actions</button>
      <button class="btn btn-outline-secondary">Knowledge</button>
    </div>

  </div>
</section>

<section class="sidebar">
  <img src="/images/front.jpg">
</section>
