<section class="main">
  <div class="jumbotron">
    <h1 class="display-4">Collaboration; the easy and smart way</h1>
    <p class="lead">Complete freedome to create as many projects you like to combine work and life in one view</p>
    <div class="mt-4 container">
      <div class="row justify-content-center" id="project-content">
        <div class="col-sm-12 col-md-6 col-lg-4 order-2 order-lg-1"><img src="\images\person-writing-on-notebook-669615.jpg" alt="" class="img-fluid"></div>
        <div class="col-sm-12 col-md-12 col-lg-4 order-1 order-lg-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                Project as containers
              </h5>
              <p>In <span class="appname">CHECKER</span> a <span class="appname">PROJECT</span> is the container of all your tasks, notes, action list, and more.<br>Create as many you want to fit your need</p>
            <ul>
              <li>Private projects => Just for you</li>
              <li>Public projects => Open for all</li>
              <li>Team projects => Collaborate with the people close to you</li>
            </ul>
            </div>
          </div></div>
        <div class="col-sm-12 col-md-6 col-lg-4 order-3 order-lg-3"><img src="\images\schedule-planning-startup-launching-7376.jpg" alt="" class="img-fluid"></div>
      </div>
    </div>

  </div>
</section>
<section class="sub bg-dark text-white-50">
  <div class="pt-4 text-center">
    <p class="lead m-0">Read more</p>
    <p>
      <button class="btn btn-outline-light active">Projects</button>
      <button class="btn btn-outline-light">Checklists</button>
      <button class="btn btn-outline-light">Actions</button>
      <button class="btn btn-outline-light">Knowledge</button>
    </p>
  </div>
</section>

<section class="sidebar">
  <img src="/images/front.jpg">
</section>
